.about_wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacer-4);
  max-width: var(--width-content-full);
}

.about_content {
  background-color: var(--color-step-4);
  width: inherit;
  height: fit-content;
  border-radius: var(--button-border-radius);
  padding: var(--spacer-2);
  box-sizing: border-box;
}

.about_byline {
  padding-top: var(--spacer-3);
  display: block;
  color: var(--colors-black);
  font-size: var(--text-size-sm);
  line-height: calc(1.4 * var(--text-size-sm));
}

.about_byline_tag {
  font-weight: 300;
}

.about_p {
  color: var(--colors-black);
  font-family: var(--font-body);
  font-weight: 300;
  line-height: calc(var(--font-size-sm) * 1.4);
  padding-top: var(--spacer-2);
}
