.about_wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-weight: 300;
  line-height: calc(var(--font-size-sm) * 1.4);
  padding-top: 0;
  max-width: 1000px;
  padding: var(--spacer-3);
}

.about_content {
  padding: var(--spacer-2);

  background-color: var(--color-step-1);
  width: inherit;
  height: fit-content;
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
}

@media all and (min-width: 500px) {
  .about_content {
    padding-top: var(--spacer-3);
  }
}

@media all and (min-width: 1000px) {
  .about_content {
    margin-top: var(--spacer-3);
    padding: var(--spacer-4);
  }
}

.about_byline {
  padding-top: var(--spacer-3);
  display: block;
  color: var(--colors-black);
  font-size: var(--text-size-sm);
  line-height: calc(1.4 * var(--text-size-sm));
}

.about_byline_tag {
  font-weight: 300;
}

.about_p {
  color: var(--colors-black);
  font-family: var(--font-body);
  font-weight: 300;
  line-height: calc(var(--font-size-sm) * 1.4);
  padding-top: var(--spacer-2);
}
