.controls_wrapper {
  width: 100%;
  flex: 3;
  display: flex;
  align-items: flex-end;
}

.control_text {
  font-size: var(--font-size-caption);
  line-height: calc(var(--font-size-caption) * 1.2);
}

@media all and (min-width: 800px) {
  .control_text {
    font-size: var(--font-size-1);
  }
}

.error {
  color: var(--color-step-6);
}

@media all and (min-width: 600px) {
  .control_text {
    font-size: 0.8rem;
  }
}
