
.button_inverted{
    background-color: var(--colors-white);
    color: var(--colors-accent-bold);
    border: 2px solid var(--colors-accent-bold);
    transition: all 1s;
}

.button_inverted:hover, .button_inverted:focus{
    background-color: var(--colors-accent-bold);
    border: var(--border-width) solid var(--colors-accent-bold);
    outline: 0;
    color: var(--colors-accent-extra-light);
}

.button_light{
    height: var(--height-1);
    background-color: var(--colors-accent);
    border: var(--border-width) solid var(--colors-accent);
}

.button_disabled{
    background-color: inherit;
    color: var(--colors-gray);
    border: 2px solid var(--colors-gray);
    cursor: not-allowed;
}

.button{
    background-color: var(--colors-accent);
    border: var(--border-width) solid var(--colors-accent);
    color: var(--colors-accent-extra-light);
    transition: all 0.09s;

}
.button:hover, .button:focus {
    background-color: var(--colors-accent-bold);
    border: var(--border-width) solid var(--colors-accent-bold);
    outline: 0;
}


.button_text{
    font-size: var(--text-size-1);
    font-family: var(--font-body);
}






