.error_wrapper {
  width: 100%;
  flex: 3;
  display: flex;
  align-items: flex-end;
}
.error {
  color: var(--color-step-5);
  font-size: var(--font-size-caption);
}

@media all and (min-width: 800px) {
  .error {
    font-size: 0.8rem;
  }
}
