.header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--height-3);
  color: var(--colors-black);
  padding: var(--spacer-1);
  margin: 0;
}

.header_wrapper > span,
.header_wrapper > h1 {
  cursor: pointer;
}

.knife_icon {
  fill: var(--colors-black);
  padding: 0;
  height: inherit;
  width: inherit;
}

.knife_wrapper {
  height: var(--font-size-lg);
  width: var(--font-size-lg);
  box-sizing: border-box;
  padding: 2px;
  transform: scale(0.9);
}

.title {
  font-size: var(--font-size-lg);
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  font-family: var(--font-title);
  height: var(--font-size-lg);
  font-weight: 400;
  max-width: 1000px;
  width: 100%;
}

.title span:first-of-type {
  transform: translateX(0.4rem);
}

.title span:last-of-type {
  transform: translateX(-0.2rem);
}

.header_link {
  cursor: pointer;
}

@media all and (min-width: 1400px) {
  /* .header_wrapper {
    margin: var(--spacer-2) var(--spacer-3);
  } */
  .title {
    width: 100%;
    max-width: unset;
  }
}

@media all and (min-width: 800px) {
  .header_wrapper {
    padding: var(--spacer-2);
  }
}

@media all and (max-width: 450px) {
  .header_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu_wrapper {
    padding-top: 0;
  }
}
