.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: var(--height-3);
  color: var(--colors-black);
  padding: var(--spacer-2) var(--spacer-2) 0;
  margin: var(--spacer-1) 0;
  max-width: 1000px;
}

@media all and (min-width: 1400px) {
  .header_wrapper {
    max-width: unset;
    padding: var(--spacer-3-flex);
  }
}

.knife_icon {
  fill: var(--colors-black);
  transform: scale(-1.3, -1.3) rotate(150deg);
  margin-top: 2px;
  padding: 0;
}

.title {
  font-size: var(--font-size-lg);
  color: var(--colors-black);
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  font-family: var(--font-title);
  height: var(--font-size-lg);
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .knife_icon {
    transform: scale(-2, -2) rotate(150deg);
  }
}

@media screen and (min-width: 850px) {
  .knife_icon {
    transform: scale(-2.2, -2.2) rotate(150deg);
  }
}

@media all and (max-width: 450px) {
  .header_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu_wrapper {
    padding-top: 0;
  }
}
