.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: var(--height-3);
    text-align: center;
    background-color: var(--colors-black);
    padding: var(--spacer-2-flex) var(--spacer-2-flex-lg);
}

.knife_icon{
    fill: white;
    transform: scale(-2.2, -2.2) rotate(150deg);
    margin-top: 5px;
}

.menu_wrapper{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.menu_item{
    padding-left: var(--spacer-2);
    font-size: var(--text-size-1);
    font-family: var(--font-body);
    display: flex;
    align-items: flex-end;
    color: var(--colors-accent-extra-light);
    cursor: pointer;
}

.menu_item:hover {
    color: var(--colors-accent-bold);
}

.action_button{
    padding: var(--spacer-2);
    background-color: var(--colors-accent-bold);
    border: var(--border-width) solid var(--colors-accent-bright);
}

.title{
    font-size: var(--font-size-lg);
    color: var(--colors-white);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    font-family: var(--font-title);
    height: var(--font-size-lg);
    font-weight: 400;
}


@media all and (max-width: 450px){
    .header_wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu_wrapper{
        padding-top: 0;
    }

    
}
