.about_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--spacer-2);
    background-color: var(--colors-accent-extra-light);
    max-width: var(--width-content-full);
}

.about_subtitle {
   margin-bottom: var(--spacer-1); 
}

.about_p{
    color: var(--colors-gray);
    font-size: var(--text-size-1);
    line-height: calc(1.5 * var(--text-size-1));
}

.margin_bottom {
    margin-bottom: var(--spacer-2);
}

