.about_wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: inherit;
    max-width: 750px;
}


.subtitle{
    padding: var(--spacer-1) 0 var(--spacer-2);
}

.about_text{
    color: var(--colors-gray);
}