
.img_wrapper{
    width: 100vw;
    height: calc(100vh - 92px);
    padding: 0;
    margin: 0;
    color: var(--colors--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #fbe9e775;
}



.img_wrapper::before{
    z-index: -1;
    width: calc(100vh - 92px);
    background-image: url(background.jpeg);
    background-position: cover;
    content: "";
    height: 100vw;
    opacity: 0.4;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
    transform: rotate(90deg);
}

.button_inverted{
    background-color: inherit;
    color: var(--colors-accent-bold);
    border: var(--border-width) solid var(--colors-accent-bold);
    width: 200px;
    padding: var(--spacer-2) var(--spacer-1) ;
}

.button_inverted:hover, .button_inverted:focus{
    background-color: var(--colors-accent-bold);
    border: var(--border-width) solid var(--colors-accent-bold);
    outline: 0;
    color: var(--colors-accent-extra-light)
}
