footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    min-height: 3rem;
    background-color: var(--colors-black);
    color: var(--colors-white);
}

footer .icon{
    color: var(--colors-white);
    font-size: var(--font-size-med);
    height: var(--font-size-med);
    
}

footer a{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    color: var(--colors-white);
}

footer a:hover .icon,
footer a:focus .icon{
    color: var(--colors-accent-bold);
}

footer p{
    padding: 0;
    font-size: var(--text-size-1);
}