footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    min-height: 3rem;
    background-color: var(--colors-black);
    color: var(--colors-white);
}

/* /* footer .icon{
    color: var(--colors-accent);
    font-size: var(--font-size-med);
    height: var(--font-size-med);
    
} */

footer a{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    color: var(--colors-white);
} 

footer a svg:hover,
footer a svg:focus{
    color: var(--colors-accent-bold);
    fill: var(--colors-accent-bold);
}

footer p{
    padding: 0;
    font-size: 1rem;
    font-family: var(--font-body);
}

