

form{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-body);
}

fieldset{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 0;
    border: 0;
    padding-bottom: var(--spacer-2);
}

label{
    padding-right: var(--spacer-sm);
    width: var(--button-width);
}

fieldset .hidden{
    display: none;
}

input, textarea{
    width: 100%;
    padding: var(--spacer-1) ;
    font-size: var(--text-size-1);
    outline: 0;
    font-family: var(--font-body);
    line-height: calc(1.5 * var(--text-size-1));
}

textarea{
    height: 300px;
    background-color: inherit;
    border: 1px solid var(--colors-gray);
    color: var(--colors-black);
    caret-color: var(--colors-accent-bold);
}

textarea:active, textarea:focus{
    border: 1px solid var(--colors-accent-bold);
}

