form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-body);
  padding: var(--spacer-2);
}

@media all and (min-width: 800px) {
}

fieldset {
  outline: 0;
  border: 0;
  width: 100%;
  /* width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--spacer-2); */
}

label {
  padding-right: var(--spacer-sm);
  width: var(--button-width);
}

fieldset .hidden {
  display: none;
}

input,
textarea {
  width: 100%;
  font-size: var(--text-size-1);
  outline: 0;
  font-family: var(--font-body);
  line-height: calc(1.5 * var(--text-size-1));
  border: var(--button-to-input-border);
  border-radius: var(--button-border-radius);
  color: var(--colors-black);
  transition: all 0.2s;
}

input {
  padding: var(--spacer-1) var(--spacer-2);
  height: var(--button-to-input-height);
}

textarea {
  height: 30vh;
}
