form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacer-2);
}

fieldset {
  outline: 0;
  border: 0;
  width: 100%;
}

input,
textarea {
  width: 100%;
  font-size: var(--text-size-sm);
  line-height: calc(var(--font-size-sm) * 1.4);
  outline: 0;
  font-family: var(--font-body);
  line-height: calc(1.5 * var(--text-size-sm));
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--color-step-1);
  color: var(--colors-black);
  transition: all 0.2s;
}

input {
  padding: var(--spacer-1) var(--spacer-2);
  height: var(--button-to-input-height);
}

input::placeholder {
  color: var(--color-step-5);
}

input:active,
input:focus {
  background-color: var(--color-step-2);
}

textarea {
  height: 30vh;
  padding: var(--spacer-1);
  flex: 2;
}

textarea:active,
textarea:focus {
  background-color: var(--color-step-2);
}

@media all and (min-width: 600px) {
  textarea {
    padding: var(--spacer-2);
  }
}
