.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: var(--height-3);
    margin-bottom: var(--spacer-5);
    text-align: center;
    background-color: var(--colors-black);
}


.menu_wrapper{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-right: var(--spacer-2);
}

.menu_item{
    padding-left: var(--spacer-2);
    font-size: var(--text-size-1);
    display: flex;
    align-items: flex-end;
    color: var(--colors-accent-extra-light);
}

.action_button{
    padding: var(--spacer-2);
    background-color: var(--colors-accent-bold);
    border: var(--border-width) solid var(--colors-accent-bright);
}

.title{
    font-size: var(--font-size-lg);
    color: var(--colors-white);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
}