/*TODO: EXTRACT THIS INTO MODULE AND DELETE FILE*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: var(--height-3);
    text-align: center;
    background-color: var(--colors-black);
}
header > * {
    padding: var(--spacer-2);
}



