.outer_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: var(--width-content-full);
    align-self: center;
}

.warning_wrapper{
    padding-top: var(--spacer-2-flex-lg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: var(--spacer-1);
}
.warning_text{
    color: var(--colors-gray);
    font-size: 1rem;
}

.button_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.button{
    margin-right: var(--spacer-2);
    flex: 1;
    background-color: var(--colors-gray);
    border: 1px solid var(--colors-gray);
    color: var(--colors-accent-extra-light);
    cursor: not-allowed;
}

.button_link{
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: var(--spacer-1);
}

.button_link:hover, .button_link:focus{
    color: var(--colors-accent-bold);
}