/*RACHELS BASE CSS STYLES*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

#__next{
    min-height: 100vh;
    height: 100vh;
    min-width: 300px;
}

#App{
    height: 100%;
    overflow-x: hidden;
}

main{
  height: inherit;
  width: inherit;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  justify-content: space-between;
  font-family: var(--font);
  line-height: var(--line-spacing);
}

.screen_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

h2, h3{
    font-size: var(--font-size-med);
}


p{
    padding: var(--spacer-tiny) 0;
    font-size: var(--font-size-sm);
}


a{
    text-decoration: none;
    color: var(--colors-accent);
    outline: 0;
    font-size: var(--font-size-sm);

}

article span{
  font-size: var(--font-size-sm);
}

button, .button{
    cursor: pointer;
    outline: 0;
    font-size: var(--font-size-sm);
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--colors-accent);
    color: var(--colors-white);
    border: var(--border-width) solid var(--colors-accent);
    padding: var(--spacer-tiny);
    border-radius: var(--button-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacer-lg);
}

button:focus, .button:focus,
button:hover, .button:hover{
    background-color: var(--colors-accent-dark);
}




/*section padding increased on first and last items*/
/* section:first-of-type{
    padding-top: var(--spacer-lg);
}

section:last-of-type{
    padding-bottom: var(--spacer-lg);
} */


img{
    width: 100%;
}


.error{
    color: var(--colors-accent-dark);
    margin-bottom: var(--spacer-tiny);
}


@media all and (min-width: 500px){
  section{
    min-height: 400px;
    justify-content: center;
  }
}

