.slicer_input_label{
    display: none;
}

.slicer_wrapper{
    width: inherit;
    height: 100%;
    max-width: var(--width-content-full);
    background-color: var(--colors-accent-extra-light);
    padding: var(--spacer-2-flex-lg) var(--spacer-3-flex-lg);

}

.slicer_input{
    padding: var(--spacer-1);
    margin: 0;
    width: 100%;
}

.input_button_wrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: stretch;
    align-items: center;
}

.button_wrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    justify-content: stretch;
}

@media all and (min-width: 600px){
    .input_button_wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .button_wrapper {
        flex-direction: column;
        padding-left: var(--spacer-3);
        justify-content: space-evenly;
        align-items: center;
        width: 200px;
    }

    .slicer_input {
        padding: var(--spacer-2);
    }
}





.add_section button{
    outline: none;
    align-self: center;
}

.preview_ingredient {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--colors-gray);
}


.preview_ingredient_item {
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    min-height: var(--height-2);
    font-size: var(--text-size-1);
}
.preview_amount_item{
    flex-shrink: shrink;
}
.preview_unit_item{
    flex: 2;
}

.preview_ingredient_item{
    flex: 4;
}

.preview_ingredients_wrapper {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    margin: var(--spacer-1) 0 var(--spacer-2);
    font-family: var(--font);
    line-height: 1;
    font-size: var(--text-size-1);
}

@media all and (min-width: 400px){
    .preview_ingredients_wrapper {
         line-height: calc(1.5 * var(--text-size-1));
         justify-content: flex-end;
    }
 }

.select_amount_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--width-2);
    align-items: stretch;
    align-self: flex-start;
    margin-top: var(--spacer-2);
}

.clear_button{
    width: 100%;
    background-color: var(--colors-accent-extra-light);
    color: var(--colors-accent-bold);
    border: 2px solid var(--colors-accent-bold);
}

.constant_button{
    background-color: var(--colors-accent-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.constant_button_text{
    font-size: var(--text-size-1);
    text-align: start;
    width: 50px;
}

.scaled_indgredients_with_slider {
    display: flex;
    flex-direction: column;
    margin: var(--spacer-3) 0 var(--spacer-4);
}

.button_inverted{
    height: var(--height-1);
    width: 100%;
    background-color: var(--colors-white);
    color: var(--colors-accent-bold);
    border: 2px solid var(--colors-accent-bold);
}

.clear_button:hover, .clear_button:focus{
    background-color: var(--colors-accent-bold);
    border: var(--border-width) solid var(--colors-accent-bold);
    outline: 0;
    color: var(--colors-accent-extra-light)
}

