.slicer_input_label{
    display: none;
}

.slicer_wrapper{
    width: inherit;
    height: 100%;
    max-width: 750px;
}

.slicer_input{
    padding: var(--spacer-1);
    margin: 0;
    width: 100%;
}

.add_section button{
    outline: none;
    align-self: center;
}

.preview_ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.preview_ingredient_item {
    width: inherit;
    padding: var(--spacer-2) 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview_ingredients_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacer-1) 0 var(--spacer-2);
}

.select_amount_wrapper{
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    align-self: flex-start;
}

.clear_button{
    width: 100%;
    background-color: var(--colors-white);
    color: var(--colors-accent-bold);
    border: 2px solid var(--colors-accent-bold);


}