:root{
    --colors-accent: #FF8A65;
    --colors-accent-bold: #F4511E;
    --colors-accent-light: #FBE9E7;
    --colors-accent-extra-light: #f7f6f5;
    --colors-black: #212121;
    --colors-white: #FFF;
    --colors-gray: #424242;
  
    
    --spacer-1: 0.2rem;
    --spacer-2: 1rem;
    --spacer-3: 1.4rem;
    --spacer-4: 1.8rem;
    --spacer-5: 2.6rem;
    --spacer-6: 3.4rem;

    --height-1: 1.8rem;
    --height-2: 3rem;
    --height-4: 8rem;

    --width-1: 1.8rem;
    --width-2: 8rem;
    --width-content-full: 900px;
  
    --button-width: 6.8rem;
    --button-height: 2rem;
    --button-border-radius: 4px;

    --text-size-1: 1rem;
    --text-size-2: 1.2rem;
  
    --font-size-sm: 1.2rem;
    --font-size-med: 1.6rem;
    --font-size-lg: 2rem;
  
    --max-page-width: 80vw;
  
    --line-spacing: calc(var(--font-size-sm) * 1.4);
  
    --border-width: 1.5px;
    
    --font: "Verdana", sans-serif;
  }
  
  @media all and (min-width: 400px){
    :root{
      --font-size-lg: 3.2rem;
    }
  }
  
  
  @media all and (min-width: 800px){
    :root{
     --spacer-med: 1.8rem;
     --spacer-lg: 2.4rem;
  
     --font-size-med: 2rem;
     --font-size-lg: 3.8rem;
  
    } 
  
  }