@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&family=Open+Sans&display=swap');

:root {
  --button-to-input-height: 40px;

  --color-step-0: hsla(14, 100%, 29%, 0.28);
  --color-step-1: hsla(37, 100%, 59%, 0.59);
  --color-step-2: hsla(37, 100%, 49%, 0.68);
  --color-step-3: hsla(14, 100%, 59%, 0.8);
  --color-step-4: hsla(14, 100%, 79%, 0.28);
  --color-step-5: hsla(14, 59%, 29%, 0.8);
  --color-step-6: #e65100;
  --color-step-7: #ffa726;

  --icon-button-width: 26px;
  --icon-button-offset: calc(2 * var(--icon-button-width));

  --colors-accent: hsla(14, 100%, 70%, 0.767);
  --colors-accent-bold: #f4511e;
  --colors-accent-light: #fbe9e7;
  --colors-accent-extra-light: #f7f6f5;
  --colors-black: #212121;
  --colors-white: #fff;
  --colors-gray: #424242;
  --colors-banner-bg: #fbe9e775;

  --spacer-1: 0.2rem;
  --spacer-2: 1rem;
  --spacer-3: 1.4rem;
  --spacer-4: 1.8rem;
  --spacer-5: 3.2rem;
  --spacer-6: 3.4rem;

  --height-1: 1.8rem;
  --height-2: 3rem;
  --height-4: 8rem;

  --width-1: 1.8rem;
  --width-2: 8rem;

  --width-content-full: 1000px;

  --button-border-radius: 2px;

  --font-size-caption: 0.6rem;
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-med: 1.6rem;
  --font-size-lg: 3rem;

  --line-spacing: calc(var(--font-size-sm) * 1.4);

  --font: 'Noto Sans JP', sans-serif;
  --font-title: 'Rubik', sans-serif;
  --font-body: 'Rubik', sans-serif;
}
